stages:
  - test

rust:deny:
  stage: test
  image: rust:1.92-alpine3.23
  before_script:
    - apk add cargo-deny
  script:
    - cargo deny check

rust:fmt:
  stage: test
  image: rust:1.92-alpine3.23
  before_script:
    - rustup component add rustfmt
  script:
    - cargo fmt -- --check

rust:clippy:
  stage: test
  image: rust:1.92-alpine3.23
  before_script:
    - rustup component add clippy
  script:
    - cargo clippy --all-features -- -D warnings

rust:test:
  stage: test
  image: rust:1.92-alpine3.23
  script:
    - cargo test
